In [1]:
import pandas as pd
import json

In [2]:
biz_f = open(r'C:\Users\terry\Documents\GitHub\feature-engineering-book\data\yelp_academic_dataset_review.json')
biz_df = pd.DataFrame([json.loads(x) for x in biz_f.readlines()])
biz_f.close()
biz_df.shape

(229907, 8)

In [3]:
biz_df

,votes,user_id,review_id,stars,date,text,type,business_id
0,"{'funny': 0, 'useful': 5, 'cool': 2}",rLtl8ZkDX5vH5nAx9C3q5Q,fWKvX83p0-ka4JS3dc6E5A,5,2011-01-26,My wife took me here on my birthday for breakf...,review,9yKzy9PApeiPPOUJEtnvkg
1,"{'funny': 0, 'useful': 0, 'cool': 0}",0a2KyEL0d3Yb1V6aivbIuQ,IjZ33sJrzXqU-0X6U8NwyA,5,2011-07-27,I have no idea why some people give bad review...,review,ZRJwVLyzEJq1VAihDhYiow
2,"{'funny': 0, 'useful': 1, 'cool': 0}",0hT2KtfLiobPvh6cDC8JQg,IESLBzqUCLdSzSqm0eCSxQ,4,2012-06-14,love the gyro plate. Rice is so good and I als...,review,6oRAC4uyJCsJl1X0WZpVSA
3,"{'funny': 0, 'useful': 2, 'cool': 1}",uZetl9T0NcROGOyFfughhg,G-WvGaISbqqaMHlNnByodA,5,2010-05-27,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,_1QQZuf4zZOyFCvXc0o6Vg
4,"{'funny': 0, 'useful': 0, 'cool': 0}",vYmM4KTsC8ZfQBg-j5MWkw,1uJFq2r5QfJG_6ExMRCaGw,5,2012-01-05,General Manager Scott Petello is a good egg!!!...,review,6ozycU1RpktNG2-1BroVtw
...,...,...,...,...,...,...,...,...
229902,"{'funny': 0, 'useful': 0, 'cool': 0}",6e7pZofhDuIlD_rX2oYirQ,f9JaiNg_FMoPNWxt7MlbZQ,2,2011-04-14,I really wanted to like this place because it'...,review,vnffHkFJbmd-J3OaBbK2Eg
229903,"{'funny': 0, 'useful': 2, 'cool': 0}",dDNfSFT0VApxPmURclX6_g,QDWRP1pW5r0huIBAoGmFyg,1,2011-01-23,My husband I stayed here for two nights. Of c...,review,l5oUrgQ190l8CcN8uzd_pA
229904,"{'funny': 0, 'useful': 0, 'cool': 0}",M5wHt6Odh1k5v0tIjqd8DQ,JmR3yk7JlS1LVVxtIc3xBQ,4,2010-10-11,Cool atmosphere. A lot of beers on tap and goo...,review,-EctXOb3B7T177jGYUhjVA
229905,"{'funny': 1, 'useful': 2, 'cool': 0}",jopndPrv-H5KW2CfScnw9A,z5b2p5TbCg0uaIiIe8n62w,3,2011-01-18,I have to take a star off for the spotty servi...,review,YQvg0JCGRFUkb6reMMf3Iw
229906,"{'funny': 1, 'useful': 0, 'cool': 1}",mbRUG6h0Mgb2XIJvscIoMg,QM1rFJsW-ZJoCHbgsysKaw,5,2010-08-14,"So cool, yo.",review,gKxOZvQTTd5hpFa3r5igGQ

In [4]:
# Load the first 10,000 reviews
f = open(r'C:\Users\terry\Documents\GitHub\feature-engineering-book\data\yelp_academic_dataset_review.json')
js = []
for i in range(10000):
    js.append(json.loads(f.readline()))
f.close()
review_df = pd.DataFrame(js)
review_df.shape

(10000, 8)

In [5]:
review_df

,votes,user_id,review_id,stars,date,text,type,business_id
0,"{'funny': 0, 'useful': 5, 'cool': 2}",rLtl8ZkDX5vH5nAx9C3q5Q,fWKvX83p0-ka4JS3dc6E5A,5,2011-01-26,My wife took me here on my birthday for breakf...,review,9yKzy9PApeiPPOUJEtnvkg
1,"{'funny': 0, 'useful': 0, 'cool': 0}",0a2KyEL0d3Yb1V6aivbIuQ,IjZ33sJrzXqU-0X6U8NwyA,5,2011-07-27,I have no idea why some people give bad review...,review,ZRJwVLyzEJq1VAihDhYiow
2,"{'funny': 0, 'useful': 1, 'cool': 0}",0hT2KtfLiobPvh6cDC8JQg,IESLBzqUCLdSzSqm0eCSxQ,4,2012-06-14,love the gyro plate. Rice is so good and I als...,review,6oRAC4uyJCsJl1X0WZpVSA
3,"{'funny': 0, 'useful': 2, 'cool': 1}",uZetl9T0NcROGOyFfughhg,G-WvGaISbqqaMHlNnByodA,5,2010-05-27,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,_1QQZuf4zZOyFCvXc0o6Vg
4,"{'funny': 0, 'useful': 0, 'cool': 0}",vYmM4KTsC8ZfQBg-j5MWkw,1uJFq2r5QfJG_6ExMRCaGw,5,2012-01-05,General Manager Scott Petello is a good egg!!!...,review,6ozycU1RpktNG2-1BroVtw
...,...,...,...,...,...,...,...,...
9995,"{'funny': 0, 'useful': 2, 'cool': 1}",_eqQoPtQ3e3UxLE4faT6ow,Ubyfp2RSDYW0g7Mbr8N3iA,3,2012-07-28,First visit...Had lunch here today - used my G...,review,VY_tvNUCCXGXQeSvJl757Q
9996,"{'funny': 0, 'useful': 0, 'cool': 0}",ROru4uk5SaYc3rg8IU7SQw,2XyIOQKbVFb6uXQdJ0RzlQ,4,2012-01-18,Should be called house of deliciousness!\n\nI ...,review,EKzMHI1tip8rC1-ZAy64yg
9997,"{'funny': 0, 'useful': 0, 'cool': 0}",gGbN1aKQHMgfQZkqlsuwzg,jyznYkIbpqVmlsZxSDSypA,4,2010-11-16,I recently visited Olive and Ivy for business ...,review,53YGfwmbW73JhFiemNeyzQ
9998,"{'funny': 0, 'useful': 0, 'cool': 0}",0lyVoNazXa20WzUyZPLaQQ,5UKq9WQE1qQbJ0DJbc-B6Q,2,2012-12-02,My nephew just moved to Scottsdale recently so...,review,9SKdOoDHcFoxK5ZtsgHJoA
9999,"{'funny': 0, 'useful': 0, 'cool': 0}",KSBFytcdjPKZgXKQnYQdkA,vWSmOhg2ID1MNZHaWapGbA,5,2010-10-16,4-5 locations.. all 4.5 star average.. I think...,review,pF7uRzygyZsltbmVpjIyvw

In [6]:
review_df['text'][0]

'My wife took me here on my birthday for breakfast and it was excellent.  The weather was perfect which made sitting outside overlooking their grounds an absolute pleasure.  Our waitress was excellent and our food arrived quickly on the semi-busy Saturday morning.  It looked like the place fills up pretty quickly so the earlier you get here the better.\n\nDo yourself a favor and get their Bloody Mary.  It was phenomenal and simply the best I\'ve ever had.  I\'m pretty sure they only use ingredients from their garden and blend them fresh when you order it.  It was amazing.\n\nWhile EVERYTHING on the menu looks excellent, I had the white truffle scrambled eggs vegetable skillet and it was tasty and delicious.  It came with 2 pieces of their griddled bread with was amazing and it absolutely made the meal complete.  It was the best "toast" I\'ve ever had.\n\nAnyway, I can\'t wait to go back!'

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
bow_converter = CountVectorizer(token_pattern='(?u)\\b\\w+\\b')

In [9]:
x = bow_converter.fit_transform(review_df['text'])
x

<10000x29222 sparse matrix of type '<class 'numpy.int64'>'
	with 862360 stored elements in Compressed Sparse Row format>

In [10]:
words = bow_converter.get_feature_names_out()
len(words)

29222

In [11]:
words[:10]

array(['0', '00', '000', '007', '00a', '00am', '00pm', '01', '02', '03'],
      dtype=object)

In [12]:
bigram_converter = CountVectorizer(ngram_range=(2,2), token_pattern='(?u)\\b\\w+\\b')
x2 = bigram_converter.fit_transform(review_df['text'])

In [13]:
bigrams = bigram_converter.get_feature_names_out()
len(bigrams)

368943

In [14]:
bigrams[-10:]

array(['zuzu was', 'zuzus room', 'zweigel wine', 'zwiebel krÃ¤uter',
       'zy world', 'zzed in', 'Ã©clairs napoleons', 'Ã©cole lenÃ´tre',
       'Ã©m all', 'Ã²c chÃ¢m'], dtype=object)

In [15]:
trigram_converter = CountVectorizer(ngram_range=(3,3), token_pattern='(?u)\\b\\w+\\b')
x3 = trigram_converter.fit_transform(review_df['text'])

In [16]:
trigrams = trigram_converter.get_feature_names_out()
len(trigrams)

881620

In [17]:
trigrams[:10]

array(['0 0 eye', '0 20 less', '0 39 oz', '0 39 pizza', '0 5 i',
       '0 50 to', '0 6 can', '0 75 oysters', '0 75 that', '0 75 to'],
      dtype=object)

In [18]:
print (len(words), len(bigrams), len(trigrams))

29222 368943 881620

In [19]:
%matplotlib notebook
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
sns.set_style("darkgrid")
counts = [len(words), len(bigrams), len(trigrams)]
plt.plot(counts, color='cornflowerblue')
plt.plot(counts, 'bo')
plt.margins(0.1)
plt.xticks(range(3), ['unigram', 'bigram', 'trigram'])
plt.tick_params(labelsize=14)
plt.title('Number of ngrams in the first 10,000 reviews of the Yelp dataset', {'fontsize':16})
plt.show()